body{
    /* color: white; */
    margin: 0%;
    font-size: 15px;
}

.main-detail{
    padding-bottom: 0;
}

.search-box{
    padding-top: 10px;
    width: 550px;
}

li{
    padding: 5px;
    margin-top: 10px;
}

p{
    color: white;
    margin: 0%;
    font-size: 15px;
}

input{
    width: 100%;
}

.logo2{
    width: 30px;
}

.logo3{
    width: 100%;
}

.searchbar{
    margin-top:5%;
    padding-bottom: 0;
}