.header{
    background-color: #222e3e;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0px;
    font-size: 15px;
}

button{
    display: flex;
    border: none;
}

button:hover {
    border-radius: 2px;
    outline: 1px solid #fff ;
}

@media only screen and (max-width:1290px) {
    .lastbutton{
        display: none;
    }
}
@media only screen and (max-width:1180px) {
    .secondbutton{
        display: none;
    }
}
@media only screen and (max-width:1110px) {
    .thirdbutton{
        display: none;
    }
}
@media only screen and (max-width:1020px) {
    .forthbutton{
        display: none;
    }
}