.navbar{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    padding: 0;
    background-color: #121821;
    width: 100%;
    color: #fff;
}
.searchbox{
    width: 50%;
}
p{
    margin-bottom: 0;
    font-size: 14px;
}